body {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #e4e4e4;
}
body .wrapper {
  display: grid;
  max-width: 100%;
  grid-template-columns: 350px auto;
  grid-template-rows: auto;
  margin: 20px;
  border-top: 10px solid #008fcc;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  border-bottom: 10px solid #00529e;
}
@media (max-width: 765px) {
  body .wrapper {
    grid-template-columns: auto;
  }
}
body .wrapper .sidebar-arrow {
  display: grid;
  width: 35px;
  height: 75px;
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
  position: fixed;
  top: 40px;
  left: 0px;
  background-image: url(images/right-chevron.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #272f43;
  z-index: 20;
  transition: all 1s ease-in-out;
  border-right: 5px solid #008fcc;
}
@media (min-width: 765px) {
  body .wrapper .sidebar-arrow {
    display: none;
  }
}
body .wrapper .to-left-arrow {
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
  background-image: url(images/left-chevron.png);
  border-left: 5px solid #008fcc;
  border-right: none;
  left: 0;
  right: -60px;
  transform: translateX(-60px);
  margin-left: auto;
  transition: all 1s ease-in-out;
}
body .wrapper .sidebar {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
}
@media (max-width: 765px) {
  body .wrapper .sidebar {
    display: none;
  }
}
body .wrapper .sidebar .photo-container {
  display: grid;
  width: 100%;
  padding-top: 100%;
  background-color: #272f43;
  position: relative;
}
body .wrapper .sidebar .photo-container .photo {
  display: grid;
  position: absolute;
  justify-self: center;
  align-self: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid #008fcc;
  background-image: url(images/01-1-sht.JPG);
  background-position-y: center;
  background-position-x: 27%;
  background-size: cover;
  background-repeat: no-repeat;
}
body .wrapper .sidebar .contacts-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  background-color: #3b3b3b;
}
body .wrapper .sidebar .contacts-container .container-title {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 35px auto;
}
body .wrapper .sidebar .contacts-container .container-title .title-point {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #c5d7d7;
  clip-path: polygon(0% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%);
}
body .wrapper .sidebar .contacts-container .container-title .title-text {
  display: grid;
  height: 65%;
  background-color: #62a6bd;
  color: white;
  padding-left: 20px;
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  box-shadow: -10px 5px 12px 6px rgba(0, 0, 0, 0.7);
}
body .wrapper .sidebar .contacts-container .aside-items-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin-bottom: 20px;
}
body .wrapper .sidebar .contacts-container .aside-items-container .aside-item {
  display: grid;
  grid-template-columns: 25px auto;
  grid-template-rows: 35px;
  align-items: center;
  margin-left: 35px;
}
body .wrapper .sidebar .contacts-container .aside-items-container .aside-item .aside-item-img {
  display: grid;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body .wrapper .sidebar .contacts-container .aside-items-container .aside-item .address {
  background-image: url(images/house.png);
}
body .wrapper .sidebar .contacts-container .aside-items-container .aside-item .phone {
  background-image: url(images/telephone.png);
}
body .wrapper .sidebar .contacts-container .aside-items-container .aside-item .mail {
  background-image: url(images/mail.png);
}
body .wrapper .sidebar .contacts-container .aside-items-container .aside-item .linked-in {
  background-image: url(images/linkedin.png);
}
body .wrapper .sidebar .contacts-container .aside-items-container .aside-item .aside-item-text {
  font-size: 14px;
  padding-left: 10px;
}
body .wrapper .sidebar .contacts-container .aside-items-container .aside-item .aside-item-text a {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
body .wrapper .sidebar .contacts-container .aside-items-container .aside-item .aside-item-text a:hover {
  color: #62a6bd;
  transition: all 0.3s;
}
body .wrapper .sidebar .skills-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  background-color: #3b3b3b;
}
body .wrapper .sidebar .skills-container .container-title {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 35px auto;
}
body .wrapper .sidebar .skills-container .container-title .title-point {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #c5d7d7;
  clip-path: polygon(0% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%);
}
body .wrapper .sidebar .skills-container .container-title .title-text {
  display: grid;
  height: 65%;
  background-color: #62a6bd;
  color: white;
  padding-left: 20px;
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  box-shadow: -10px 5px 12px 6px rgba(0, 0, 0, 0.7);
}
body .wrapper .sidebar .skills-container .aside-items-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin-bottom: 20px;
}
body .wrapper .sidebar .skills-container .aside-items-container .aside-item {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-items: center;
  margin-left: 55px;
}
body .wrapper .sidebar .skills-container .aside-items-container .aside-item .aside-item-list {
  list-style-type: square;
  color: #0264ad;
}
body .wrapper .sidebar .skills-container .aside-items-container .aside-item .aside-item-list .aside-item-text {
  font-size: 14px;
  line-height: 35px;
}
body .wrapper .sidebar .skills-container .aside-items-container .aside-item .aside-item-list .aside-item-text span {
  color: white;
}
body .wrapper .sidebar .skills-container .aside-items-container .aside-item .aside-item-list .aside-item-text span sub {
  color: #0091ff;
}
body .wrapper .sidebar .hobby-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #3b3b3b;
}
body .wrapper .sidebar .hobby-container .container-title {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 35px auto;
}
body .wrapper .sidebar .hobby-container .container-title .title-point {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #c5d7d7;
  clip-path: polygon(0% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%);
}
body .wrapper .sidebar .hobby-container .container-title .title-text {
  display: grid;
  height: 65%;
  background-color: #62a6bd;
  color: white;
  padding-left: 20px;
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  box-shadow: -10px 5px 12px 6px rgba(0, 0, 0, 0.7);
}
body .wrapper .sidebar .hobby-container .hobbies-icons-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 50px;
  margin: 0px 15px 20px 15px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
body .wrapper .sidebar .hobby-container .hobbies-icons-container .hobbies-item {
  display: grid;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0px 5px 0px 5px;
}
body .wrapper .sidebar .hobby-container .hobbies-icons-container .guitar {
  background-image: url(images/guitar.png);
}
body .wrapper .sidebar .hobby-container .hobbies-icons-container .writer {
  background-image: url(images/typewriter.png);
}
body .wrapper .sidebar .hobby-container .hobbies-icons-container .dog {
  background-image: url(images/dog.png);
}
body .wrapper .sidebar .hobby-container .hobbies-icons-container .books {
  background-image: url(images/book.png);
}
body .wrapper .mobile-sidebar {
  display: grid;
  position: absolute;
  height: fit-content;
  width: 100%;
  top: 0;
  left: -100%;
  visibility: hidden;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  transition: all 1s ease-in-out;
  z-index: 10;
}
@media (min-width: 765px) {
  body .wrapper .mobile-sidebar {
    display: none;
  }
}
body .wrapper .mobile-sidebar .photo-container {
  display: grid;
  width: 100%;
  padding-top: 100%;
  background-color: #272f43;
  position: relative;
}
body .wrapper .mobile-sidebar .photo-container .photo {
  display: grid;
  position: absolute;
  justify-self: center;
  align-self: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid #008fcc;
  background-image: url(images/01-1-sht.JPG);
  background-position-y: center;
  background-position-x: 27%;
  background-size: cover;
  background-repeat: no-repeat;
}
body .wrapper .mobile-sidebar .contacts-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  background-color: #3b3b3b;
}
body .wrapper .mobile-sidebar .contacts-container .container-title {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 35px auto;
}
body .wrapper .mobile-sidebar .contacts-container .container-title .title-point {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #c5d7d7;
  clip-path: polygon(0% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%);
}
body .wrapper .mobile-sidebar .contacts-container .container-title .title-text {
  display: grid;
  height: 65%;
  background-color: #62a6bd;
  color: white;
  padding-left: 20px;
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  box-shadow: -10px 5px 12px 6px rgba(0, 0, 0, 0.7);
}
body .wrapper .mobile-sidebar .contacts-container .aside-items-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin-bottom: 20px;
}
body .wrapper .mobile-sidebar .contacts-container .aside-items-container .aside-item {
  display: grid;
  grid-template-columns: 25px auto;
  grid-template-rows: 35px;
  align-items: center;
  margin-left: 35px;
}
body .wrapper .mobile-sidebar .contacts-container .aside-items-container .aside-item .aside-item-img {
  display: grid;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body .wrapper .mobile-sidebar .contacts-container .aside-items-container .aside-item .address {
  background-image: url(images/house.png);
}
body .wrapper .mobile-sidebar .contacts-container .aside-items-container .aside-item .phone {
  background-image: url(images/telephone.png);
}
body .wrapper .mobile-sidebar .contacts-container .aside-items-container .aside-item .mail {
  background-image: url(images/mail.png);
}
body .wrapper .mobile-sidebar .contacts-container .aside-items-container .aside-item .linked-in {
  background-image: url(images/linkedin.png);
}
body .wrapper .mobile-sidebar .contacts-container .aside-items-container .aside-item .aside-item-text {
  font-size: 14px;
  padding-left: 10px;
}
body .wrapper .mobile-sidebar .contacts-container .aside-items-container .aside-item .aside-item-text a {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
body .wrapper .mobile-sidebar .contacts-container .aside-items-container .aside-item .aside-item-text a:hover {
  color: #62a6bd;
  transition: all 0.3s;
}
body .wrapper .mobile-sidebar .skills-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  background-color: #3b3b3b;
}
body .wrapper .mobile-sidebar .skills-container .container-title {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 35px auto;
}
body .wrapper .mobile-sidebar .skills-container .container-title .title-point {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #c5d7d7;
  clip-path: polygon(0% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%);
}
body .wrapper .mobile-sidebar .skills-container .container-title .title-text {
  display: grid;
  height: 65%;
  background-color: #62a6bd;
  color: white;
  padding-left: 20px;
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  box-shadow: -10px 5px 12px 6px rgba(0, 0, 0, 0.7);
}
body .wrapper .mobile-sidebar .skills-container .aside-items-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin-bottom: 20px;
}
body .wrapper .mobile-sidebar .skills-container .aside-items-container .aside-item {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-items: center;
  margin-left: 55px;
}
body .wrapper .mobile-sidebar .skills-container .aside-items-container .aside-item .aside-item-list {
  list-style-type: square;
  color: #0264ad;
}
body .wrapper .mobile-sidebar .skills-container .aside-items-container .aside-item .aside-item-list .aside-item-text {
  font-size: 14px;
  line-height: 35px;
}
body .wrapper .mobile-sidebar .skills-container .aside-items-container .aside-item .aside-item-list .aside-item-text span {
  color: white;
}
body .wrapper .mobile-sidebar .skills-container .aside-items-container .aside-item .aside-item-list .aside-item-text span sub {
  color: #0091ff;
}
body .wrapper .mobile-sidebar .hobby-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #3b3b3b;
}
body .wrapper .mobile-sidebar .hobby-container .container-title {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 35px auto;
}
body .wrapper .mobile-sidebar .hobby-container .container-title .title-point {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #c5d7d7;
  clip-path: polygon(0% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%);
}
body .wrapper .mobile-sidebar .hobby-container .container-title .title-text {
  display: grid;
  height: 65%;
  background-color: #62a6bd;
  color: white;
  padding-left: 20px;
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  box-shadow: -10px 5px 12px 6px rgba(0, 0, 0, 0.7);
}
body .wrapper .mobile-sidebar .hobby-container .hobbies-icons-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 50px;
  margin: 0px 15px 20px 15px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
body .wrapper .mobile-sidebar .hobby-container .hobbies-icons-container .hobbies-item {
  display: grid;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0px 5px 0px 5px;
}
body .wrapper .mobile-sidebar .hobby-container .hobbies-icons-container .guitar {
  background-image: url(images/guitar.png);
}
body .wrapper .mobile-sidebar .hobby-container .hobbies-icons-container .writer {
  background-image: url(images/typewriter.png);
}
body .wrapper .mobile-sidebar .hobby-container .hobbies-icons-container .dog {
  background-image: url(images/dog.png);
}
body .wrapper .mobile-sidebar .hobby-container .hobbies-icons-container .books {
  background-image: url(images/book.png);
}
body .wrapper .mobile-sidebar-active {
  visibility: visible;
  left: 0;
  transition: all 1s ease-in-out;
}
body .wrapper .about-me-container {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #c5d7d7;
  margin-left: 7px;
}
body .wrapper .about-me-container .name-title {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: left;
  font-size: 62px;
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 10px;
}
@media (max-width: 1000px) {
  body .wrapper .about-me-container .name-title {
    grid-template-columns: auto;
  }
}
@media (max-width: 765px) {
  body .wrapper .about-me-container .name-title {
    font-size: 36px;
  }
}
body .wrapper .about-me-container .name-title .surname {
  color: #231f20;
  margin-left: 20px;
  font-weight: bold;
}
@media (max-width: 1000px) {
  body .wrapper .about-me-container .name-title .surname {
    margin-left: 0;
  }
}
body .wrapper .about-me-container .name-title .first-name {
  color: #008fcc;
}
body .wrapper .about-me-container .name-decoration {
  position: absolute;
  top: -10px;
  right: 0;
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 35px;
}
body .wrapper .about-me-container .name-decoration div {
  display: grid;
  height: 100%;
  width: 100%;
}
body .wrapper .about-me-container .name-decoration div:nth-child(1) {
  background-color: #008fcc;
}
body .wrapper .about-me-container .name-decoration div:nth-child(2) {
  background-color: #0264ad;
}
body .wrapper .about-me-container .name-decoration div:nth-child(3) {
  background-color: #00529e;
}
body .wrapper .about-me-container .cv-pos-title {
  display: grid;
  color: white;
  background-color: #272f43;
  padding-left: 50px;
  font-size: 24px;
  line-height: 40px;
  padding-top: 8px;
  box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.7);
}
@media (max-width: 765px) {
  body .wrapper .about-me-container .cv-pos-title {
    font-size: 16px;
    padding-left: 20px;
  }
}
body .wrapper .about-me-container .about-me {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  position: relative;
}
body .wrapper .about-me-container .about-me .about-me-title {
  display: grid;
  width: fit-content;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  align-content: center;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #008fcc;
}
@media (max-width: 765px) {
  body .wrapper .about-me-container .about-me .about-me-title {
    font-size: 16px;
  }
}
body .wrapper .about-me-container .about-me .about-me-text {
  display: grid;
  padding: 50px;
  font-size: 18px;
  line-height: 30px;
  color: #231f20;
  background-color: #fff;
}
body .wrapper .about-me-container .bottom-dec-line {
  display: grid;
  grid-template-rows: 10px;
  grid-template-columns: 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333%;
}
body .wrapper .about-me-container .bottom-dec-line div:nth-child(1), body .wrapper .about-me-container .bottom-dec-line div:nth-child(4), body .wrapper .about-me-container .bottom-dec-line div:nth-child(7), body .wrapper .about-me-container .bottom-dec-line div:nth-child(10) {
  background-color: #008fcc;
}
body .wrapper .about-me-container .bottom-dec-line div:nth-child(2), body .wrapper .about-me-container .bottom-dec-line div:nth-child(5), body .wrapper .about-me-container .bottom-dec-line div:nth-child(8), body .wrapper .about-me-container .bottom-dec-line div:nth-child(11) {
  background-color: #0264ad;
}
body .wrapper .about-me-container .bottom-dec-line div:nth-child(3), body .wrapper .about-me-container .bottom-dec-line div:nth-child(6), body .wrapper .about-me-container .bottom-dec-line div:nth-child(9), body .wrapper .about-me-container .bottom-dec-line div:nth-child(12) {
  background-color: #00529e;
}
body .wrapper .job-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #c5d7d7;
  margin-left: 7px;
  margin-bottom: 50px;
}
body .wrapper .job-container .job-container-title-row {
  display: grid;
  grid-template-columns: auto 30px;
  grid-template-rows: auto;
  margin-right: 50px;
}
body .wrapper .job-container .job-container-title-row .job-container-title {
  display: grid;
  width: fit-content;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  align-content: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #272f43;
  margin: 30px 0px 0px 10px;
}
@media (max-width: 765px) {
  body .wrapper .job-container .job-container-title-row .job-container-title {
    font-size: 16px;
  }
}
body .wrapper .job-container .job-container-title-row .job-container-img {
  display: grid;
  margin-top: 30px;
  background-image: url(images/suitcase.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
body .wrapper .job-container .company {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 25px;
  line-height: 30px;
}
body .wrapper .job-container .company .period {
  font-size: 16px;
  color: #00529e;
  line-height: 10px;
}
body .wrapper .job-container .company .company-name {
  font-size: 16px;
  color: #008fcc;
}
body .wrapper .job-container .company .position {
  font-size: 18px;
  color: #272f43;
}
body .wrapper .job-container .company .duties {
  display: grid;
  margin-left: 15px;
  align-items: center;
}
body .wrapper .job-container .company .duties summary {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: center;
  width: fit-content;
  color: #008fcc;
  transition: all 0.2s;
}
body .wrapper .job-container .company .duties summary:hover {
  color: #00529e;
  transition: all 0.2s;
  cursor: pointer;
}
body .wrapper .job-container .company .duties summary:focus {
  outline: none;
}
body .wrapper .job-container .company .duties[open] {
  color: #00529e;
}
body .wrapper .job-container .company .duties[open] summary {
  color: #00529e;
}
body .wrapper .education-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #c5d7d7;
  margin-left: 7px;
  margin-bottom: 50px;
}
body .wrapper .education-container .education-container-title-row {
  display: grid;
  grid-template-columns: auto 30px;
  grid-template-rows: auto;
  margin-right: 50px;
}
body .wrapper .education-container .education-container-title-row .education-container-title {
  display: grid;
  width: fit-content;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  align-content: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #272f43;
  margin: 30px 0px 0px 10px;
}
@media (max-width: 765px) {
  body .wrapper .education-container .education-container-title-row .education-container-title {
    font-size: 16px;
  }
}
body .wrapper .education-container .education-container-title-row .education-container-img {
  display: grid;
  margin-top: 30px;
  background-image: url(images/mortarboard.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
body .wrapper .education-container .course-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 25px;
  line-height: 30px;
}
body .wrapper .education-container .course-container .period {
  font-size: 16px;
  color: #00529e;
  line-height: 10px;
}
body .wrapper .education-container .course-container .course-title {
  font-size: 18px;
  color: #008fcc;
}
body .wrapper .education-container .course-container .speciality {
  font-size: 18px;
  color: #272f43;
}
body .wrapper .portfolio-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #c5d7d7;
  margin-left: 7px;
  margin-bottom: 50px;
}
body .wrapper .portfolio-container .portfolio-title-row {
  display: grid;
  grid-template-columns: auto 30px;
  grid-template-rows: auto;
  margin-right: 50px;
}
body .wrapper .portfolio-container .portfolio-title-row .portfolio-container-title {
  display: grid;
  width: fit-content;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  align-content: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #272f43;
  margin: 30px 0px 0px 10px;
}
@media (max-width: 765px) {
  body .wrapper .portfolio-container .portfolio-title-row .portfolio-container-title {
    font-size: 16px;
  }
}
body .wrapper .portfolio-container .portfolio-title-row .portfolio-container-img {
  display: grid;
  margin-top: 30px;
  background-image: url(images/portfolio.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
body .wrapper .portfolio-container .portfolio-item {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: fit-content;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  line-height: 30px;
  color: #008fcc;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
body .wrapper .portfolio-container .portfolio-item span {
  color: #00529e;
}
body .wrapper .portfolio-container .portfolio-item:hover {
  color: #272f43;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
body .wrapper .main-container-hidden {
  display: none;
}
body .greetings-modal {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00386d;
  color: #00b3ff;
  font-size: 36px;
  visibility: visible;
  opacity: 1;
}
body .greetings-modal-hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

/*# sourceMappingURL=style.css.map */
