@import "./mixin.scss";

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: #e4e4e4;

    .wrapper {
        display: grid;
        max-width: 100%;
        grid-template-columns: 350px auto;
        grid-template-rows: auto;
        @media (max-width: 765px) {
            grid-template-columns: auto;
        }
        margin: 20px;
        border-top: 10px solid #008fcc;        
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
        border-bottom: 10px solid #00529e;

        .sidebar-arrow {
            display: grid;
            width: 35px;
            height: 75px;
            clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
            position: fixed;
            top: 40px;
            left: 0px;
            background-image: url(images/right-chevron.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: #272f43;
            z-index: 20;            
            transition: all 1s ease-in-out;
            border-right: 5px solid #008fcc;
            @media (min-width: 765px) {
                display: none;
            }
        }
        .to-left-arrow {
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
            background-image: url(images/left-chevron.png);
            border-left: 5px solid #008fcc;
            border-right: none;
            left: 0;
            right: -60px;
            transform: translateX(-60px);
            margin-left: auto;
            transition: all 1s ease-in-out;
        }

        .sidebar {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto;
            @media (max-width: 765px) {
                display: none;
            }

            @include photoContainer;
            @include contactsContainer;
            @include skillsContainer;
            @include hobbyContainer;
        }

        .mobile-sidebar {
            display: grid;
            position: absolute;
            height: fit-content;
            width: 100%;
            top: 0;
            left: -100%;
            visibility: hidden;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto;            
            transition: all 1s ease-in-out;
            z-index: 10;
            @media (min-width: 765px) {
                display: none;
            }

            @include photoContainer;
            @include contactsContainer;
            @include skillsContainer;
            @include hobbyContainer;
        }

        .mobile-sidebar-active {
            visibility: visible;
            left: 0;
            transition: all 1s ease-in-out;
        }



        .about-me-container {
            position: relative;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            background-color: #c5d7d7;
            margin-left: 7px;

            .name-title {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto;
                justify-content: left;
                font-size: 62px;
                padding-left: 20px;
                padding-top: 50px;
                padding-bottom: 10px;
                @media (max-width: 1000px) {
                    grid-template-columns: auto;
                }
                @media (max-width: 765px) {
                    font-size: 36px;
                }

                .surname {
                    color: #231f20;
                    margin-left: 20px;
                    font-weight: bold;
                    @media (max-width: 1000px) {
                        margin-left: 0;
                    }
                }
                
                .first-name {
                    color: #008fcc;
                }
            }

            .name-decoration {
                position: absolute;
                top: -10px;
                right: 0;
                display: grid;
                grid-template-columns: 80px 80px 80px;
                grid-template-rows: 35px;

                div {
                    display: grid;
                    height: 100%;
                    width: 100%;
                }
                div:nth-child(1) {
                    background-color: #008fcc;
                }
                div:nth-child(2) {
                    background-color: #0264ad;
                }
                div:nth-child(3) {
                    background-color: #00529e;
                }
            }

            .cv-pos-title {
                display: grid;
                color: white;
                background-color: #272f43;
                padding-left: 50px;
                font-size: 24px;
                line-height: 40px;
                padding-top: 8px;
                box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.7);
                @media (max-width: 765px) {
                    font-size: 16px;
                    padding-left: 20px;
                }
            }

            .about-me {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto;
                position: relative;

                .about-me-title {
                    display: grid;
                    width: fit-content;
                    height: 40px;
                    padding-left: 15px;
                    padding-right: 15px;
                    align-content: center;
                    font-size: 20px;
                    color: white;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #008fcc;
                    @media (max-width: 765px) {
                        font-size: 16px;
                    }
                }
                .about-me-text {
                    display: grid;
                    padding: 50px;
                    font-size: 18px;
                    line-height: 30px;
                    color: #231f20;
                    background-color: #fff;
                }
            }

            .bottom-dec-line {
                display: grid;
                grid-template-rows: 10px;
                grid-template-columns: 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333%;

                div:nth-child(1), div:nth-child(4), div:nth-child(7), div:nth-child(10) {
                    background-color: #008fcc;
                }
                div:nth-child(2), div:nth-child(5), div:nth-child(8), div:nth-child(11) {
                    background-color: #0264ad;
                }
                div:nth-child(3), div:nth-child(6), div:nth-child(9), div:nth-child(12) {
                    background-color: #00529e;
                }

                
            }
        }

        .job-container {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            background-color: #c5d7d7;
            margin-left: 7px;
            margin-bottom: 50px;

            .job-container-title-row {
                display: grid;
                grid-template-columns: auto 30px;
                grid-template-rows: auto;
                margin-right: 50px;

                .job-container-title {
                    display: grid;
                    width: fit-content;
                    height: 40px;
                    padding-left: 15px;
                    padding-right: 15px;
                    align-content: center;
                    font-size: 20px;
                    font-weight: bold;
                    color: white;
                    background-color: #272f43;
                    @media (max-width: 765px) {
                        font-size: 16px;
                    }
                    margin: 30px 0px 0px 10px;
                }

                .job-container-img {
                    display: grid;
                    margin-top: 30px;
                    background-image: url(images/suitcase.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }

            .company {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto;
                padding: 25px;
                line-height: 30px;

                .period {
                    font-size: 16px;
                    color: #00529e;
                    line-height: 10px;
                }
                .company-name {
                    font-size: 16px;
                    color: #008fcc;
                }
                .position {
                    font-size: 18px;
                    color: #272f43;
                }

                .duties {
                    display: grid;
                    margin-left: 15px;
                    align-items: center;
                    
                    summary {
                        display: grid;
                        grid-template-columns: auto auto;
                        grid-template-rows: auto;
                        align-items: center;
                        width: fit-content;
                        color: #008fcc;
                        transition: all 0.2s;

                    }
                    summary:hover {
                        color: #00529e;                        
                        transition: all 0.2s;
                        cursor: pointer;
                    }
                    summary:focus {
                        outline: none;
                    }
                }
                .duties[open] {
                    color: #00529e;
                }
                .duties[open] summary {
                    color: #00529e;
                }
            }
        }

        .education-container {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            background-color: #c5d7d7;
            margin-left: 7px;
            margin-bottom: 50px;

            .education-container-title-row {
                display: grid;
                grid-template-columns: auto 30px;
                grid-template-rows: auto;
                margin-right: 50px;

                .education-container-title {
                    display: grid;
                    width: fit-content;
                    height: 40px;
                    padding-left: 15px;
                    padding-right: 15px;
                    align-content: center;
                    font-size: 20px;
                    font-weight: bold;
                    color: white;
                    background-color: #272f43;
                    @media (max-width: 765px) {
                        font-size: 16px;
                    }
                    margin: 30px 0px 0px 10px;
                }

                .education-container-img {
                    display: grid;
                    margin-top: 30px;
                    background-image: url(images/mortarboard.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }

            .course-container {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto;
                padding: 25px;
                line-height: 30px;

                .period {
                    font-size: 16px;
                    color: #00529e;
                    line-height: 10px;
                }
                .course-title {
                    font-size: 18px;
                    color: #008fcc;
                }
                .speciality {
                    font-size: 18px;
                    color: #272f43;
                }
            }
        }

        .portfolio-container {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            background-color: #c5d7d7;
            margin-left: 7px;
            margin-bottom: 50px;

            .portfolio-title-row {
                display: grid;
                grid-template-columns: auto 30px;
                grid-template-rows: auto;
                margin-right: 50px;

                .portfolio-container-title {
                    display: grid;
                    width: fit-content;
                    height: 40px;
                    padding-left: 15px;
                    padding-right: 15px;
                    align-content: center;
                    font-size: 20px;
                    font-weight: bold;
                    color: white;
                    background-color: #272f43;
                    @media (max-width: 765px) {
                        font-size: 16px;
                    }
                    margin: 30px 0px 0px 10px;
                }

                .portfolio-container-img {
                    display: grid;
                    margin-top: 30px;
                    background-image: url(images/portfolio.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }

            .portfolio-item {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto;
                width: fit-content;
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 25px;
                line-height: 30px;
                color: #008fcc;
                text-decoration: none;
                transition: all 0.3s ease-in-out;

                span {
                    color: #00529e;
                }
            }
            .portfolio-item:hover {
                color: #272f43;
                transform: scale(1.1);                
                transition: all 0.3s ease-in-out;
            }
        }

        .main-container-hidden {
            display: none;
        }
    }

    .greetings-modal {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        @include fullAlign;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #00386d;
        color: #00b3ff;
        font-size: 36px;
        visibility: visible;
        opacity: 1;
    }
    .greetings-modal-hidden {
        visibility: hidden;
        opacity: 0;
        transition: all 1s;
    }

}