@import "./mixin.scss";

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: #e4e4e4;

    .wrapper {
        display: grid;
        max-width: 100%;
        grid-template-columns: 350px auto;
        grid-template-rows: auto;
        @media (max-width: 765px) {
            grid-template-columns: auto;
        }
        padding: 20px;

        .sidebar-arrow {
            display: grid;
            width: 35px;
            height: 75px;
            clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
            position: fixed;
            top: 40px;
            left: 0px;
            background-image: url(images/right-chevron.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: #272f43;
            z-index: 10;            
            transition: all 1s ease-in-out;
            border-right: 5px solid #008fcc;
            @media (min-width: 765px) {
                display: none;
            }
        }
        .to-left-arrow {
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
            background-image: url(images/left-chevron.png);
            border-left: 5px solid #008fcc;
            border-right: none;
            left: 0;
            right: -40px;
            transform: translateX(-60px);
            margin-left: auto;
            transition: all 1s ease-in-out;
        }

        .sidebar {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto;
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
            border-top: 10px solid #008fcc;
            @media (max-width: 765px) {
                display: none;
            }

            @include photoContainer;
            @include contactsContainer;
            @include skillsContainer;
            @include hobbyContainer;
        }

        .mobile-sidebar {
            display: grid;
            position: relative;
            left: -105%;
            visibility: hidden;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto;
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
            border-top: 10px solid #008fcc;            
            transition: all 1s ease-in-out;
            @media (min-width: 765px) {
                display: none;
            }

            @include photoContainer;
            @include contactsContainer;
            @include skillsContainer;
            @include hobbyContainer;
        }

        .mobile-sidebar-active {
            visibility: visible;
            transform: translateX(105%);
            transition: all 1s ease-in-out;
        }
    }
}